/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(rgb(119, 0, 255), rgb(60, 7, 90));
    height: 100vh;
}

.title h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 30px;
}

a {
    text-decoration: none; 
}

a:visited {
    color: none;
}

.no-items{
    color: black;
    text-align: center;
}

.card {
    width: 100%;
    box-shadow: 5px 8px 0 rgb(255, 0, 234);
}

.card-title{
    font-weight: 600;
}

.card-body {
    padding: 35px;
}

.fa-star {
    color: rgb(255, 0, 234); 
    margin-right: 3px;
 }

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(255, 0, 234) !important;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(202, 0, 186) !important;
}