.card {
    width: 600px;
    margin: 40px auto;
}

.card-title {
    font-size: 1.6em;
    margin: auto 0;
}

.card-body {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.listed-city:hover {
    background-color: rgb(180, 187, 224);
}

.city-page-container {
    height: 100%;
}



