<div class="business-page-container">
    <div class="title">
        <h1>{{cityNameFromRoute}} Businesses</h1>
    </div>

    <div *ngIf="businessCount > 0" class="row row-cols-3">
        <div *ngFor="let business of businesses" class="collection">
          <div class="col d-flex justify-content-center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{business.businessName}}</h5>
                <p class="card-text">{{business.listOfServices}}</p>
                <a [routerLink]="['reviews', business.businessName]" class="btn btn-primary">Reviews</a>
              </div>
            </div>                       
        </div>
    </div>

    <ng-template [ngIf]="businessCount == 0">
        <h5 class="no-items">There are no businesses in the database for this city.</h5>
    </ng-template>
</div>