<form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Full Name">
      </div>
      <div class="col rating-group">
        <span id="rating-label">Rating:</span>
        
        <input type="range" name="rating" class="form-range" min="1" max="5" id="rating" (input)="OnChange(rating.value)" #rating>
        <span [innerHTML]="stars" id="stars">
        </span>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Business Name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="City Name">
        </div>
    </div>
    <div class="col">
        <div class="row">
          <textarea class="form-control textbox" rows="4" placeholder="Review"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
